@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* Gradient background from left to right */
  background: linear-gradient(to right, #FFC0CB, #ADD8E6);
  height: 100vh; /* Ensure it covers the full height of the viewport */
  margin: 0; /* Remove default margin */
}